langchain==1.2.12
langchain-community==0.4.1
langchain-ollama==1.0.1
langchain-huggingface==1.2.1
duckduckgo_search==8.1.1
ddgs==9.11.4
fastapi[standard]
pymongo==4.16.0
textual-dev==1.8.0
timg==1.1.6
requests==2.32.5